# Backend
PORT=3000
NODE_ENV=development

# Database (AWS RDS PostgreSQL)
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/marketplace

# Auth0
AUTH0_DOMAIN=dev-htobs7e6.us.auth0.com
AUTH0_AUDIENCE=marketplace-app

# AWS
AWS_REGION=eu-west-1

# Expo Push Notifications
EXPO_ACCESS_TOKEN=your_expo_access_token_here
